<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CricWiz</title>
</head>
<body>
    <h2>Enter Cricket Match Details</h2>
    <form action="/" method="post">
        <label for="batting_team">Batting Team:</label>
        <input type="text" id="batting_team" name="batting_team" required><br><br>

        <label for="bowling_team">Bowling Team:</label>
        <input type="text" id="bowling_team" name="bowling_team" required><br><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br><br>

        <label for="runs">Runs Scored:</label>
        <input type="number" id="runs" name="runs" required><br><br>

        <label for="overs">Overs Completed:</label>
        <input type="number" id="overs" name="overs" required><br><br>

        <label for="wickets">Wickets Lost:</label>
        <input type="number" id="wickets" name="wickets" required><br><br>

        <label for="last_five">Runs in Last 5 Overs:</label>
        <input type="number" id="last_five" name="last_five" required><br><br>

        <input type="submit" value="Predict Score">
    </form>
    <br><br>
    {% if prediction %}
        <div class="prediction-result">
            Predicted Score: {{ prediction }}
        </div>
    {% endif %}
    
</body>
</html>
